.box {
    border: 4px solid #ffffff;
    box-shadow: 10px 15px 15px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 200px; /* Fixed width */
    height: 200px; /* Fixed height */
    display: inline-block; /* To make them appear side by side */
    vertical-align: top; /* Align boxes from the top */
    margin-top: 10px; /* Add some space between boxes */
    margin-right: 20px; /* Add space between boxes */
    margin-bottom: 20px; /* Add space between rows */
    background-color: #8C6A5D;
  }
  body {
    background-image: url('./photo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
  }
  h1,h2{
    color: antiquewhite;
  }
  p{
    color: antiquewhite;
  }